@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-background: #fefefe;
  --color-primary: #1c1b18;
  --color-yellow: #ffd21e;
}

body {
  font-family: var(--font-poppins);
}
